// Place all the styles related to the StaticPagsHouse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.wrapper_content{
	width: 600px;
    background: red;
    hight: 300px;

}